.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

p.card-text {
    margin-top: 10px;
    text-align: center;
    color: blue;
}

a.btn.btn-primary {
    background-color: red;
    transition: all 0.5s ease;
}